<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARj3NUEihclmHD58oDiaGUXRByedq92Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>736537629430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harry.ColorCode</string>
	<key>PROJECT_ID</key>
	<string>colorcode-d2053</string>
	<key>STORAGE_BUCKET</key>
	<string>colorcode-d2053.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736537629430:ios:abc3f643fe571f6fe292d7</string>
</dict>
</plist>